In [ ]:
pip install .

# Set up connection to RDF store

In [1]:
from starvers.starvers import TripleStoreEngine

get_endpoint = "http://ThinkPad-T14s-FK:7200/repositories/hust_demo"
post_endpoint = "http://ThinkPad-T14s-FK:7200/repositories/hust_demo/statements"
engine = TripleStoreEngine(get_endpoint, post_endpoint)

# Clear repository

In [2]:
from SPARQLWrapper import SPARQLWrapper, POST, DIGEST, GET, JSON

sparql_post = SPARQLWrapper(post_endpoint)
sparql_post.setHTTPAuth(DIGEST)
sparql_post.setMethod(POST)

clear = """
clear default
"""
sparql_post.setQuery(clear)
sparql_post.query()

# Load initial dataset

In [3]:
# <http://example.com/Nguyen_Van_Anh> <http://example.com/occupation> <http://example.com/tour_guide>
# <http://example.com/Tran_Thi_Thu> <http://example.com/occupation> <http://example.com/tour_guide>

insert = """
insert data {
    <http://example.com/Obama>  <http://example.com/occupation> <http://example.com/President> .
    <http://example.com/Hamilton>  <http://example.com/occupation>  <http://example.com/Formel1Driver> .
}

"""
sparql_post.setQuery(insert)
sparql_post.query()

# Version all row

In [4]:
import tzlocal
from datetime import datetime, timedelta, timezone
initial_timestamp = datetime(2022, 10, 12, 14, 43, 21, 941000, timezone(timedelta(hours=2)))
engine.version_all_triples(initial_timestamp)

# Insert new triples

In [5]:
# <http://example.com/Le_Van_Thanh> <http://example.com/occupation> <http://example.com/travel_blogger>

new_triples = ['<http://example.com/Brad_Pitt> <http://example.com/occupation> <http://example.com/Limo_Driver> .',
        '<http://example.com/Frank_Sinatra> <http://example.com/occupation> <http://example.com/Singer> .']
engine.insert(new_triples)

# Update triples

In [6]:
# <http://example.com/Nguyen_Van_Anh> <http://example.com/occupation> <http://example.com/tour_guide>
# None None <http://example.com/hotel_manager>


engine.update(
old_triples=[['<http://example.com/Obama>', '<http://example.com/occupation>' ,'<http://example.com/President>'],
             ['<http://example.com/Brad_Pitt>', '<http://example.com/occupation>', '<http://example.com/Limo_Driver>']],
new_triples=[['<http://example.com/Donald_Trump>', None, None],
             [None, None, '<http://example.com/Actor>']])

# Delete triples

In [7]:
# <http://example.com/Nguyen_Van_Anh> <http://example.com/occupation> <http://example.com/hotel_manager>

engine.outdate(['<http://example.com/Donald_Trump> <http://example.com/occupation> <http://example.com/President> .'])

# Query actual data

In [8]:
query = """
PREFIX vers: <https://github.com/GreenfishK/DataCitation/versioning/>

SELECT ?person ?occupation {
    ?person <http://example.com/occupation> ?occupation .
}
"""

actual_snapshot = engine.query(query)
print(actual_snapshot)

                             person                        occupation
0       http://example.com/Hamilton  http://example.com/Formel1Driver
1      http://example.com/Brad_Pitt          http://example.com/Actor
2  http://example.com/Frank_Sinatra         http://example.com/Singer

# Query historical data

In [9]:
snapshot_timestamp = initial_timestamp
historical_snapshot = engine.query(query, snapshot_timestamp)
print(historical_snapshot)

                        person                        occupation
0     http://example.com/Obama      http://example.com/President
1  http://example.com/Hamilton  http://example.com/Formel1Driver